::-webkit-scrollbar {
width:8px;
opacity:0.2;
background: #cfcfcf;
-webkit-border-radius:8px;
border-radius: 8px;
}
::-webkit-scrollbar-thumb {
background: rgba(0,0,0,.3);
-webkit-border-radius:9px;
border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
background: rgba(0,0,0,.5);
-webkit-border-radius:9px;
border-radius: 9px;
}
