Source: ignsdk-debian
Section: devel
Priority: optional
Maintainer: Surya Handika Putratama <ubunteroz@gmail.com>
Build-Depends: debhelper (>= 8.0.0), qt4-qmake (>= 4:4.8.5), libqt4-dev (>= 4:4.8.5), libqtwebkit-dev (>= 2.2.1), libqjson-dev (>= 0.8.1), libmysqlclient-dev (>= 5.5.33)
Standards-Version: 3.9.4
Homepage: http://ignsdk.web.id/

Package: ignsdk-debian
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: ignsdk-debian-example
Suggests: ignsdk-debian-dev
Description: IGOS Nusantara Software Development Kit (IGNSDK) (launcher)
 This is Debian-compatible version of IGN Software Development
 Kit (IGNSDK).
 .
 This package provides app launcher.

Package: ignsdk-debian-example
Architecture: all
Depends: ${misc:Depends}, ignsdk-debian (>= 1.1.0)
Description: IGOS Nusantara Software Development Kit (IGNSDK) (example apps)
 This is Debian-compatible version of IGN Software Development
 Kit (IGNSDK).
 .
 This package provides example apps.

Package: ignsdk-debian-dev
Architecture: all
Depends: ${misc:Depends}, fakeroot, debhelper, devscripts, dh-make, ignsdk-debian (>= 1.1.0)
Description: IGOS Nusantara Software Development Kit (IGNSDK) (dev tools)
 This is Debian-compatible version of IGN Software 
 .
 This package provides development tools for Debian GNU/Linux.
