#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_testdir
	dh_testroot
	qmake-qt4 ign.pro
	make
	mv ignsdk $$(pwd)/debian/ignsdk-debian/usr/bin/
	echo "debian" > $$(pwd)/debian/ignsdk-debian-dev/etc/ignsdk-dist
