#!/usr/bin/make -f
export DH_VERBOSE=1
export DEB_BUILD_HARDENING=1
export DEB_BUILD_HARDENING_RELRO=1
export DEB_BUILD_HARDENING_FORTIFY=1

%:
	dh $@

override_dh_auto_install:
	dh_testdir
	dh_testroot
	qmake ign.pro
	$(MAKE) INSTALL_ROOT=$$(pwd)/debian/ignsdk-debian/ install
