#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	if [ -f /usr/bin/clang++ ]; then CXX=clang++ LINK=clang++ make -j2 -e; else make -j2; fi

override_dh_auto_install:
	dh_testdir
	dh_testroot
	mv ignsdk $$(pwd)/debian/ignsdk/usr/bin/
